body{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    
}
.player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    background-color: rgba(10, 4, 4, 0.3) ;
    border: 2px solid rgba(197, 9, 9, 0.3) 0px 19px 38px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(14, 8, 8, 0.3) 0px 19px 38px, rgba(22, 6, 6, 0.22) 0px 15px 12px;
    z-index: 10;
    height: 60vh;
    width: 400px;
}
.video-container video{
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover ;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    height: 240px;
    width: 240px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0.2px 6px 5px 0.2px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}
.active{
    color: black;
}
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
   
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}
